
{{#if isAuth}}
  {{#each categoryDoorsDescription}}
    <h3>{{this.name}}</h3>
    <a href="/createItem/{{this.path}}" class="btn btn-warning edit">Добавить</a>
  {{/each}}
  <section class="catalog">
    {{#each allItems}}
      <div class="card" style="width: 250px; border: 1px solid #5bc0de">
        <img src="{{this.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <a href="#" class="btn btn-info">Узнать стоимость</a>
           <a href="/editItem/{{this._id}}" class="btn btn-danger edit ">Редактировать</a>
        </div>
      </div>
    {{/each}}
  </section>
{{else}}
  {{#each categoryShowerDescription}}
    <h3>{{this.name}}</h3>
  {{/each}}
  <section class="catalog">
    {{#each allItems}}
      <div class="card" style="width: 250px; border: 1px solid #5bc0de">
        <img src="{{this.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Узнать стоимость</button>
        </div>
      </div>
    {{/each}}
  </section>
{{/if}}

